@model List<jcBENCH.lib.Objects.TopResultsListingItem>

@{
    ViewData["Title"] = "Home";
}

<div class="center-block">
    <h2 class="text-center">jcBENCH</h2>

    <a href="https://github.com/jcapellman/jcBENCH/releases/latest" target="_blank" class="btn btn-primary">Download Latest Release</a>

    <div class="img-rounded" style="background-color: #3e3e3e; margin-top: 10px; padding-bottom: 5px;">
        <div style="background-color: cornflowerblue; padding-top: 5px; padding-bottom: 5px;">
            <h4>ABOUT</h4>
        </div>

        <p style="padding-top: 5px;">
            Originally created to answer part of the question, how does Device A compare to Device B from a computation perspective irregardless of the platform?
            Over time this grew to support BSD, IRIX, Solaris, Android and many other platforms.  The goal with 2.0 is to bring that level of platform agnosticness, but
            using .NET Core instead of a mixture of C# and C++ ports.
        </p>
    </div>
    <br/>
    <h3>Top @jcBENCH.web.Common.Constants.TOP_RESULTS_LIMIT Results</h3>
    <Br/>
    <table class="table table-dark">
        <thead style="background-color: cornflowerblue;">
            <tr>
                <th>#</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Benchmark Result</th>
            </tr>
        </thead>
        <tbody>
        @for (int x = 0; x < Model.Count; x++)
        {
            <tr>
                <td>@(x+1)</td>
                <td>@Model[x].CPUManufacturer</td>
                <td>@Model[x].CPUModelName</td>
                <td>@Model[x].BenchmarkResult</td>
            </tr>
        }
        </tbody>
    </table>
</div>