@model List<jcBENCH.MVC.DAL.Objects.Results>

@{
    ViewData["Title"] = "Archived Benchmark Results";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Benchmark Results</h1>

    <p class="lead">
        Below you'll find the archived benchmark results submitted across operating systems and cpu architectures that utilize older version of the benchmarks.
    </p>

    @foreach (var benchmarkType in Model.Select(a => a.BenchmarkName).Order().Distinct())
    {
        @foreach (var threadingType in Model.Where(a => a.BenchmarkName == benchmarkType).Select(a => a.BenchmarkThreadingModel).Order().Distinct())
        {
            if (Model.Where(a => a.BenchmarkName == benchmarkType && a.BenchmarkThreadingModel == threadingType).Select(a => a.BenchmarkAPIVersion).Distinct().Count() <= 1)
            {
                continue;
            }

            <h2>@benchmarkType Benchmark (@threadingType Threaded)</h2>

            <table class="table table-hover table-dark">
            <thead class="thead-dark">
            <tr>
            <th>#</th>
            <th>Score</th>
            <th>Benchmark Version</th>
            <th>CPU Model</th>
            <th>CPU Architecture</th>
            <th>Number of CPU Cores</th>
            <th>Operating System</th>
            </tr>
            </thead>
            <tbody>

            @{
                var x = 1;
                var latestAPIVersion = Model.Where(a => a.BenchmarkName == benchmarkType && a.BenchmarkThreadingModel == threadingType).Max(a => a.BenchmarkAPIVersion);
            }

            @foreach (var result in Model.Where(a => a.BenchmarkName == benchmarkType && a.BenchmarkThreadingModel == threadingType && a.BenchmarkAPIVersion != latestAPIVersion).OrderByDescending(a => a.BenchmarkResult))
            {
                <tr>
                <td>@x</td>
                <td>@result.BenchmarkResult</td>
                <td>@result.BenchmarkAPIVersion</td>
                <td>@result.CPUName</td>
                <td>@result.CPUArchitecture</td>
                <td>@result.CPUCoreCount</td>
                <td>@result.OperatingSystem</td>
                </tr>

                x++;
            }

            </tbody>
            </table>
        }
    }
</div>