@model List<jcBENCH.MVC.DAL.Objects.Releases>

@{
    ViewData["Title"] = "Downloads";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Downloads</h1>
        
        <p class="lead">
            Below you'll find the releases of jcBENCH to download from GitHub.
        </p>
        
        @foreach (var release in @Model)
        {
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">@release.Name (@release.ReleaseDate.Date.ToShortDateString())</h5>
                    <p class="card-text">@release.Description</p>
                    
                    @foreach (var download in release.ReleaseArtifacts)
                    {
                        <a href="@download.DownloadURI" class="btn btn-primary">@download.Description</a>
                    }
                </div>
            </div>

            <br/>
        }
    </div>
</div>