@model jcBENCH.MVC.DAL.Objects.Releases

<div class="card bg-dark text-white">
    <div class="card-header" style="background-color: #24292A !important;padding-bottom: 0px !important">
        <h4 class="card-title">
            @Model.Name
            @if (Model.IsPreRelease)
            {
                <span class="badge bg-secondary">Pre-Release</span>
            }
        </h4>
        <p class="card-subtitle mb-2">Released on @Model.ReleaseDate.Date.ToShortDateString()</p>
    </div>
    <div class="card-body">

        <p class="card-text">@Model.Description</p>
    </div>
    <div class="card-footer" style="background-color: #202226 !important">
        <p class="card-subtitle" style="padding-bottom: 10px">Available Downloads:</p>
        @foreach (var download in Model.ReleaseArtifacts.OrderBy(a => a.OperatingSystem).ThenBy(a => a.Architecture))
        {
            <a href="@download.DownloadURI" class="btn btn-primary">
                <i class="bi-@download.OperatingSystem" style="font-size: 1rem; color: white; padding-right: 5px"></i>
                @download.Description (@download.Architecture)
            </a>
        }
    </div>
</div>