@model List<jcBENCH.MVC.DAL.Objects.Results>

@{
    ViewData["Title"] = "Benchmark Results";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Benchmark Results</h1>
    
    <p class="lead">
        Below you'll find the benchmark results submitted across operating systems and cpu architectures.
    </p>

    <table class="table table-hover table-dark">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Benchmark Type</th>
            <th>Score</th>
            <th>CPU Model</th>
            <th>CPU Architecture</th>
            <th>Number of CPU Cores</th>
            <th>Operating System</th>
        </tr>
        </thead>
        <tbody>
        @for (var x = 0; x < Model.Count; x++)
        {
            <tr>
                <td>@(x+1)</td>
                <td>@Model[x].BenchmarkName</td>
                <td>@Model[x].BenchmarkResult</td>
                <td>@Model[x].CPUName</td>
                <td>@Model[x].CPUArchitecture</td>
                <td>@Model[x].CPUCoreCount</td>
                <td>@Model[x].OperatingSystem</td>
            </tr>
        }
        </tbody>
    </table>
</div>